name: build

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        go:
          - 1.x
          - 1.11.x
          - 1.12.x
          - 1.13.x
          - 1.14.x
          - 1.15.x
          - 1.16.x
          - 1.17.x

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with: { go-version: '${{ matrix.go }}' }

      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: make env deps-fetch test-with-coverage

  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with: { go-version: '1.17' }

      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('tools/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: make tools
      - run: '[ $(grep go:gen tools/tools.go | wc -l) = $(ls bin/linux/*/* | wc -l) ]'

      - run: make pre-push

  notify:
    runs-on: ubuntu-18.04
    needs: [ test, build ]
    steps:
      - uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_ICON: https://github.com/github.png?size=64
          SLACK_TITLE: ${{ github.repository }}
          SLACK_USERNAME: GitHub Actions
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
